.textCenter{
    font-size:24px;
    margin-top:18px;
    text-align:center
  }
  .buttonCustom{
    margin-top : 20px;
    margin-left: 30%
  }
  .center {
    margin:auto
  }

  .userNameText{
    font-size:24px;
    margin-top:18px;
    text-align:center
  }