.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.text{
  font-size:24px;
  text-align:center
}
.userNameText{
  font-size:24px;
  margin-top:18px;
  text-align:center
}
.logoutButton{
  margin-top : 20px;
  margin-left: 30%
}